Repository hmcts/camunda-bpm, pull requests merged in 2020-08, with the labels that each got.

#11 Refresh the repo
  .github/renovate.json
  Dockerfile
  Jenkinsfile_CNP
  build.gradle
  charts/camunda-bpm/Chart.yaml
  charts/camunda-bpm/requirements.yaml
  charts/camunda-bpm/values.preview.template.yaml
  charts/camunda-bpm/values.yaml
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  lib/applicationinsights-agent-2.3.1.jar
  src/test/java/uk/gov/hmcts/reform/camunda/bpm/filter/webapp/SpringSecurityAuthenticationProviderTest.java
Labels: ns:camunda, prd:camunda, rel:camunda-bpm-pr-11

#16 Add secrets config for database password
  build.gradle
  charts/camunda-bpm/Chart.yaml
  charts/camunda-bpm/values.preview.template.yaml
  charts/camunda-bpm/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:camunda, prd:camunda, rel:camunda-bpm-pr-16

#18 Move infrastrcuture from shared infra
  infrastructure/.terraform-version
  infrastructure/db.tf
  infrastructure/main.tf
  infrastructure/variables.tf
  infrastructure/vault.tf
Labels: ns:camunda, prd:camunda, rel:camunda-bpm-pr-18

#19 Upgrade to 7.13.3
  build.gradle
  charts/camunda-bpm/Chart.yaml
  charts/camunda-bpm/values.preview.template.yaml
Labels: ns:camunda, prd:camunda, rel:camunda-bpm-pr-19

#22 Fix log in on Camunda latest
  src/main/resources/application.yaml
Labels: ns:camunda, prd:camunda, rel:camunda-bpm-pr-22

#23 Changes for UI deployment
  .gitignore
  charts/camunda-bpm/Chart.yaml
  charts/camunda-bpm/values.preview.template.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:camunda, prd:camunda, rel:camunda-bpm-pr-23

#26 Add team RBAC for Camunda
  src/main/resources/application.yaml
Labels: ns:camunda, prd:camunda, rel:camunda-bpm-pr-26

#28 Override default Camunda password
  charts/camunda-bpm/Chart.yaml
  charts/camunda-bpm/values.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:camunda, prd:camunda, rel:camunda-bpm-pr-28
