Repository hmcts/camunda-bpm, pull requests merged in 2020-10, with the labels that each got.

#51 upgrade azuremrm version
  build.gradle
  infrastructure/main.tf
Labels: ns:camunda, prd:camunda, rel:camunda-bpm-pr-51

#64 Adding s2s api authentication
  build.gradle
  charts/camunda-bpm/Chart.yaml
  charts/camunda-bpm/values.yaml
  src/main/java/uk/gov/hmcts/reform/camunda/bpm/app/AuthorizationHelper.java
  src/main/java/uk/gov/hmcts/reform/camunda/bpm/config/GroupConfig.java
  src/main/java/uk/gov/hmcts/reform/camunda/bpm/config/WebSecurityAnonymousConfig.java
  src/main/java/uk/gov/hmcts/reform/camunda/bpm/config/WebSecurityApiConfig.java
  src/main/java/uk/gov/hmcts/reform/camunda/bpm/config/WebSecurityWebAppConfig.java
  src/main/java/uk/gov/hmcts/reform/camunda/bpm/filter/SpringSecurityApiAuthenticationProvider.java
  src/main/java/uk/gov/hmcts/reform/camunda/bpm/filter/SpringSecurityBaseAuthenticationProvider.java
  src/main/java/uk/gov/hmcts/reform/camunda/bpm/filter/SpringSecurityWebappAuthenticationProvider.java
  src/main/java/uk/gov/hmcts/reform/camunda/bpm/filter/webapp/SpringSecurityAuthenticationProvider.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/camunda/bpm/filter/webapp/SpringSecurityApiAuthenticationProviderTest.java
  src/test/java/uk/gov/hmcts/reform/camunda/bpm/filter/webapp/SpringSecurityWebappAuthenticationProviderTest.java
  src/test/resources/application.yaml
Labels: ns:camunda, prd:camunda, rel:camunda-bpm-pr-64

#66 Needs enabling anonymous requests explicitly
  src/main/java/uk/gov/hmcts/reform/camunda/bpm/config/WebSecurityApiAnonymousConfig.java
  src/main/resources/application.yaml
Labels: ns:camunda, prd:camunda, rel:camunda-bpm-pr-66

#74 Task/fix vulnerability
  build.gradle
Labels: ns:camunda, prd:camunda, rel:camunda-bpm-pr-74
