Repository hmcts/camunda-bpm, pull requests merged in 2021-02, with the labels that each got.

#81 Add wa-camunda-pipeline-upload
  src/main/resources/application.yaml
Labels: ns:camunda, prd:camunda, rel:camunda-bpm-pr-81

#106 RWA-113 - Add listener to Camunda to call task configuration service
  .gitignore
  Jenkinsfile_CNP
  build.gradle
  charts/camunda-bpm/Chart.yaml
  charts/camunda-bpm/values.preview.template.yaml
  charts/camunda-bpm/values.yaml
  gradle.properties
  infrastructure/main.tf
  infrastructure/variables.tf
  src/integrationTest/java/uk/gov/hmcts/reform/camunda/bpm/clients/TaskConfigurationServiceApiTest.java
  src/integrationTest/resources/application-integration.yaml
  src/integrationTest/resources/responses/task-configuration-response-auto-assignment.json
  src/integrationTest/resources/responses/task-configuration-response-no-auto-assignment.json
  src/main/java/uk/gov/hmcts/reform/camunda/bpm/CamundaApplication.java
  src/main/java/uk/gov/hmcts/reform/camunda/bpm/clients/TaskConfigurationServiceApi.java
  src/main/java/uk/gov/hmcts/reform/camunda/bpm/config/EventHandlerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/camunda/bpm/config/FeignClientSnakeCaseConfiguration.java
  src/main/java/uk/gov/hmcts/reform/camunda/bpm/config/ServiceTokenGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/camunda/bpm/domain/request/ConfigureTaskRequest.java
  src/main/java/uk/gov/hmcts/reform/camunda/bpm/domain/response/ConfigureTaskResponse.java
  src/main/java/uk/gov/hmcts/reform/camunda/bpm/exception/ServerErrorException.java
  src/main/java/uk/gov/hmcts/reform/camunda/bpm/services/FeignRetryPolicy.java
  src/main/java/uk/gov/hmcts/reform/camunda/bpm/services/TaskConfigurationService.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/camunda/bpm/filter/webapp/SpringSecurityApiAuthenticationProviderTest.java
  src/test/java/uk/gov/hmcts/reform/camunda/bpm/services/FeignRetryPolicyTest.java
  src/test/java/uk/gov/hmcts/reform/camunda/bpm/services/TaskConfigurationServiceTest.java
  src/test/resources/application.yaml
  src/testUtils/java/uk/gov/hmcts/reform/camunda/bpm/SpringBootIntegrationBaseTest.java
Labels: ns:camunda, prd:camunda, rel:camunda-bpm-pr-106

#107 Feature flag for task autoconfiguration
  src/main/java/uk/gov/hmcts/reform/camunda/bpm/config/EventHandlerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/camunda/bpm/services/TaskConfigurationService.java
  src/main/resources/application.yaml
  src/test/resources/application.yaml
Labels: ns:camunda, prd:camunda, rel:camunda-bpm-pr-107

#109 Print exception
  src/main/java/uk/gov/hmcts/reform/camunda/bpm/services/FeignRetryPolicy.java
Labels: ns:camunda, prd:camunda, rel:camunda-bpm-pr-109

#110 Fix s2s secret
  Jenkinsfile_CNP
Labels: ns:camunda, prd:camunda, rel:camunda-bpm-pr-110

#111 Fix s2s secret
  charts/camunda-bpm/Chart.yaml
  charts/camunda-bpm/values.yaml
Labels: ns:camunda, prd:camunda, rel:camunda-bpm-pr-111

#113 Added event trigger check
  src/main/java/uk/gov/hmcts/reform/camunda/bpm/config/EventHandlerConfiguration.java
Labels: ns:camunda, prd:camunda, rel:camunda-bpm-pr-113

#119 Sync infra to all envs, update helm chart
  Jenkinsfile_CNP
  charts/camunda-bpm/Chart.yaml
Labels: ns:camunda, prd:camunda, rel:camunda-bpm-pr-119
