Repository hmcts/camunda-bpm, pull requests merged in 2022-03, with the labels that each got.

#268 refactor:Resolve dependency issue with spring boot upgrade
  build.gradle
  config/checkstyle/checkstyle.xml
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:camunda, prd:camunda, rel:camunda-bpm-pr-268

#275 DTSPO-6256 Update app insights and switch to Java 17
  .gitignore
  Dockerfile
  build.gradle
  charts/camunda-bpm/Chart.yaml
  charts/camunda-bpm/values.yaml
  infrastructure/app-insights.tf
  lib/AI-Agent.xml
  lib/applicationinsights.json
Labels: ns:camunda, prd:camunda, rel:camunda-bpm-pr-275

#287 Up the java chart version
  charts/camunda-bpm/Chart.yaml
Labels: ns:camunda, prd:camunda, rel:camunda-bpm-pr-287
