Repository hmcts/camunda-bpm, pull requests merged in 2023-09, with the labels that each got.

#633 Extend suppressions for tomcat embed websocket
  config/owasp/suppressions.xml
Labels: ns:camunda, prd:camunda, rel:camunda-bpm-pr-633

#623 DTSPO-14855: upgrade camunda
  .github/renovate.json
  README.md
  build.gradle
  src/main/java/uk/gov/hmcts/reform/camunda/bpm/filter/SpringSecurityBaseAuthenticationProvider.java
  src/main/java/uk/gov/hmcts/reform/camunda/bpm/filter/SpringSecurityWebappAuthenticationProvider.java
  src/test/resources/application.yaml
Labels: ns:camunda, prd:camunda, add-or-update, rel:camunda-bpm-pr-623

#652 Remove db password import from global
  charts/camunda-bpm/Chart.yaml
  charts/camunda-bpm/values.yaml
Labels: ns:camunda, prd:camunda, rel:camunda-bpm-pr-652
